@model ListAccountsViewModel

@section title {
    <title>Accounts</title>
}

<div class="row">
    <div class="col">
        <h1>Accounts</h1>
        <table class="table table-sm table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th class="text-center">Net Worth</th>
                    <th class="text-center">Dormant</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Budgets</th>
                </tr>
            </thead>
            @foreach (var typeGroup in Model.Accounts.GroupBy(a => a.Type).OrderBy(a => a.Key))
            {
                <thead class="thead-dark">
                    <tr>
                        <th colspan="5">@typeGroup.Key.GetDisplayName()</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in typeGroup)
                    {
                        <tr class="@(account.IsDormant ? "dormant text-muted" : "")">
                            <td>@account.Name</td>
                            <td class="text-center">@(account.IsIncludedInNetWorth ? "Yes" : "No")</td>
                            <td class="text-center">@(account.IsDormant ? "Yes" : "No")</td>
                            <td class="text-center"><a asp-action="Update" asp-route-id="@account.ID">Edit</a></td>
                            <td class="text-center"><a asp-action="Index" asp-controller="MonthlyBudgets" asp-route-id="@account.ID">View</a></td>
                        </tr>
                    }
                </tbody>
            }
        </table>
        <p><a asp-action="Create">New</a></p>
    </div>
</div>