@model ListAccountsViewModel

@section title {
    <title>Accounts</title>
}

<div class="row">
    <div class="col">
        <h1>Accounts</h1>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th class="text-center">Net Worth</th>
                    <th class="text-right"><span class="sr-only">Edit</span></th>
                    <th class="text-right"><span class="sr-only">Budgets</span></th>
                    <th class="text-right"><span class="sr-only">Order</span></th>
                </tr>
            </thead>
            @foreach (var typeGroup in Model.Accounts.GroupBy(a => a.Type).OrderBy(a => a.Key))
            {
                <thead class="thead-dark">
                    <tr>
                        <th colspan="5">@typeGroup.Key.GetDisplayName()</th>
                    </tr>
                </thead>
                <tbody class="sortable-rows" data-persist-url="@Url.Action("UpdateDisplayOrder", "Accounts")">
                    @foreach (var account in typeGroup.OrderBy(a => a.DisplayOrder))
                    {
                        <tr class="@(account.IsDormant ? "dormant text-muted" : "")" data-id="@account.ID">
                            <td class="align-middle">@account.NameWithDeletedStatus() @(account.IsDormant ? "[Dormant]" : "")</td>
                            <td class="text-center align-middle">@(account.IsIncludedInNetWorth ? "Yes" : "No")</td>
                            <td class="text-right"><a asp-action="Update" asp-route-id="@account.ID" class="btn btn-primary btn-sm">Edit</a></td>
                            <td class="text-right"><a asp-action="Index" asp-controller="MonthlyBudgets" asp-route-id="@account.ID" class="btn btn-primary btn-sm">Budgets</a></td>
                            <td class="text-right drag-control"><span class="drag-handle btn btn-link"><i class="fa fa-arrows"></i></span></td>
                        </tr>
                    }
                </tbody>
            }
        </table>
        <p><a asp-action="Create" class="btn btn-primary btn-new">Add New Account</a></p>
    </div>
</div>

@section scripts {
    <script src="~/js/dist/list.js" asp-append-version="true"></script>
}
