@model ListAccountsViewModel

@section title {
    <title>Accounts</title>
}

<div class="row">
    <div class="col">
        <h1>Accounts</h1>

        @foreach (var typeGroup in Model.Accounts.GroupBy(a => a.Type).OrderBy(a => a.Key))
        {
            <table class="table table-striped table-borderless">
                <thead class="table-dark">
                    <tr>
                        <th colspan="4">@typeGroup.Key.GetDisplayName()</th>
                    </tr>
                </thead>
                <tbody class="sortable-rows" data-persist-url="@Url.Action("UpdateDisplayOrder", "Accounts")">
                    @foreach (var account in typeGroup.OrderBy(a => a.DisplayOrder))
                    {
                        <tr class="@(account.IsDormant ? "dormant text-muted" : "")" data-id="@account.ID">
                            <td class="align-middle">@account.NameWithDeletedStatus() @(account.IsDormant ? "[Dormant]" : "")</td>
                            <td class="align-middle text-end"><a asp-action="Update" asp-route-id="@account.ID" class="btn btn-primary btn-sm">Edit</a></td>
                            <td class="align-middle text-end"><a asp-action="Index" asp-controller="MonthlyBudgets" asp-route-id="@account.ID" class="btn btn-primary btn-sm">Budgets</a></td>
                            <td class="align-middle text-end drag-control"><span class="drag-handle"><i class="bi bi-arrows-move"></i></span></td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <p><a asp-action="Create" class="btn btn-primary btn-new">Add New Account</a></p>
    </div>
</div>

@section scripts {
    <script src="~/js/dist/list.js" asp-append-version="true"></script>
}
