@model NetWorthViewModel

@functions {
    string ClassForValue(decimal value)
    {
        return value != 0
            ? value < 0 ? "text-danger" : "text-success"
            : "text-muted";
    }
}

@{
    Layout = null;
}

<h1>
    Net Worth:
    <span class="text-end net-worth-balance @ClassForValue(Model.NetWorth)">@Model.NetWorth.ToString("0.00")</span>
    <span class="text-end net-worth-total-balance @ClassForValue(Model.NetWorthTotal)">@Model.NetWorthTotal.ToString("0.00")</span>
</h1>

@foreach (var accountGroup in Model.Accounts.GroupBy(a => a.IsIncludedInNetWorth))
{
    if (!accountGroup.Key)
    {
        <div class="row">
            <div class="col-8">
                <h2 class="net-worth-header">Excluded From Net Worth</h2>
            </div>
            <div class="col-4 text-end">
                <h2 class="net-worth-header">@accountGroup.Sum(a => a.CurrentBalance)</h2>
            </div>
        </div>

        foreach (var account in accountGroup.OrderBy(a => a.DisplayOrder))
        {
            <div class="row">
                <div class="col-8">
                    @account.Name
                </div>
                <div class="col-4 text-end net-worth-balance @(account.CurrentBalance == 0 ? "text-muted" : account.CurrentBalance < 0 ? "text-danger" : "text-success")">
                    @account.CurrentBalance
                </div>
            </div>
        }
    }
    else
    {
        foreach (var group in accountGroup.GroupBy(a => a.Type).OrderBy(a => a.Key))
        {
            <div class="row">
                <div class="col-8">
                    <h2 class="net-worth-header">@group.Key.GetDisplayName()</h2>
                </div>
                <div class="col-4 text-end">
                    <h2 class="net-worth-header">@group.Sum(a => a.CurrentBalance)</h2>
                </div>
            </div>

            foreach (var account in group.OrderBy(a => a.DisplayOrder))
            {
                <div class="row">
                    <div class="col-8">
                        @account.Name
                    </div>
                    <div class="col-4 text-end net-worth-balance @(account.CurrentBalance == 0 ? "text-muted" : account.CurrentBalance < 0 ? "text-danger" : "text-success")">
                        @account.CurrentBalance
                    </div>
                </div>
            }
        }
    }
}

<div class="row">
    <div class="col-12">
        <h2 class="net-worth-header">Totals</h2>
    </div>
</div>

<div class="row">
    <div class="col-8">
        Savings/Investments
    </div>
    <div class="col-4 text-end net-worth-balance @(Model.SavingsTotal == 0 ? "text-muted" : Model.SavingsTotal < 0 ? "text-danger" : "text-success")">
        @Model.SavingsTotal
    </div>
</div>
