@model CreateMonthlyBudgetViewModel

@{
    ViewBag.Title = "Create Monthly Budget";
}

<div class="row">
    <div class="col-md-12">
        <h1>Create Monthly Budget</h1>
        @using (Html.BeginForm("Create", "MonthlyBudgets"))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.StartDate)
                @Html.EditorFor(x => x.StartDate)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.EndDate)
                @Html.EditorFor(x => x.EndDate)
            </div>

            <div class="form-horizontal">
                @Html.EditorFor(x => x.Categories)
            </div>

            @Html.HiddenFor(x => x.AccountID)
            <button type="submit" class="btn btn-primary">Create</button>
        }
    </div>
</div>