@model ListMonthlyBudgetsViewModel

@section title {
    <title>Monthly Budgets</title>
}

<div class="row">
    <div class="col">
        <h1>Monthly Budgets</h1>
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Copy</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var monthlyBudget in Model.MonthlyBudgets)
                {
                    <tr>
                        <td>@monthlyBudget.StartDate.ToString("dd/MM/yyyy")</td>
                        <td>@monthlyBudget.EndDate.ToString("dd/MM/yyyy")</td>
                        <td class="text-center"><a asp-action="Update" asp-route-id="@monthlyBudget.ID">Edit</a></td>
                        <td class="text-center"><a asp-action="Copy" asp-route-id="@monthlyBudget.ID">Copy</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <p><a asp-action="Create" asp-route-id="@Model.AccountID">New</a></p>
    </div>
</div>