@model NetWorthViewModel

@{
    Layout = null;
}

<h1 class="account-type-heading">Net Worth: <span class="text-right net-worth-balance @(Model.NetWorth == 0 ? "text-muted" : Model.NetWorth < 0 ? "text-danger" : "text-success")">@Model.NetWorth.ToString("0.00")</span></h1>

<hr />

<div class="well net-worth net-worth-balance-list">

    @foreach (var accountGroup in Model.Accounts.GroupBy(a => a.IsIncludedInNetWorth))
    {
        if (!accountGroup.Key)
        {
            <h1 class="net-worth-header">Excluded</h1>
        }

        foreach (var account in accountGroup)
        {
            <div class="row row-budget">
                <div class="col-xs-8">
                    @account.Name
                </div>
                <div class="col-xs-4 text-right net-worth-balance @(account.CurrentBalance == 0 ? "text-muted" : account.CurrentBalance < 0 ? "text-danger" : "text-success")">
                    @account.CurrentBalance
                </div>
            </div>
        }
    }

</div>