@model ListMonthlyBudgetsViewModel

@{
    ViewBag.Title = "Monthly Budgets";
}

<div class="row">
    <div class="col-md-12">
        <h1>Monthly Budgets</h1>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Copy</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var monthlyBudget in Model.MonthlyBudgets)
                {
                    <tr>
                        <td>@monthlyBudget.StartDate</td>
                        <td>@monthlyBudget.EndDate</td>
                        <td class="text-center">@Html.ActionLink("Edit", "Update", new { id = monthlyBudget.ID })</td>
                        <td class="text-center">@Html.ActionLink("Copy", "Copy", new { id = monthlyBudget.ID })</td>
                    </tr>
                }
            </tbody>
        </table>
        <p>@Html.ActionLink("New", "Create", new { id = Model.AccountID })</p>
    </div>
</div>