@model ListCategoriesViewModel

@section title {
    <title>Categories</title>
}

<div class="row">
    <div class="col">
        <h1>Categories</h1>
        <p><a asp-action="Index" asp-route-showDeleted="true">Show Deleted</a></p>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th class="text-right"><span class="sr-only">Edit</span></th>
                </tr>
            </thead>
            @foreach (var accountGroup in Model.Categories)
            {
                var (accountID, accountName) = accountGroup.Key;

                <thead class="thead-dark">
                    <tr>
                        <th class="align-middle">@accountName</th>
                        <th class="text-right"><a asp-action="Create" asp-route-id="@accountID" class="btn btn-primary btn-sm">Add</a></th>
                    </tr>
                </thead>
                <tbody class="sortable-rows" data-persist-url="@Url.Action("UpdateDisplayOrder", "Categories")">
                    @foreach (var category in accountGroup)
                    {
                        <tr data-id="@category.ID">
                            <td class="align-middle">@category.NameWithDeletedStatus()</td>
                            <td class="text-right"><a asp-action="Update" asp-route-id="@category.ID" class="btn btn-primary btn-sm">Edit</a></td>
                        </tr>
                    }
                </tbody>
            }
        </table>
        <p><a asp-action="Create" class="btn btn-primary btn-new">Add New Category</a></p>
    </div>
</div>

@section scripts {
    <script src="~/js/dist/list.js" asp-append-version="true"></script>
}
