@model ListEntriesViewModel

@{
    ViewBag.Title = "Entries";
}

<div class="row">
    <div class="col-md-12">
        <h1>Entries</h1>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Date</th>
                    <th>Category/Party</th>
                    <th>Amount</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.Entries)
                {
                    <tr>
                        <th colspan="5">@group.Key.ToString("dd/MM/yyyy")</th>
                    </tr>

                    foreach (var entry in group)
                    {
                        var category = string.IsNullOrWhiteSpace(entry.Category) 
                                     ? null 
                                     : string.IsNullOrWhiteSpace(entry.Party) 
                                     ? entry.Category 
                                     : $"({entry.Category})";

                        <tr>
                            <td>@entry.Account</td>
                            <td>@entry.Date.ToString("dd/MM/yyyy")</td>
                            <td>@entry.Party @category</td>
                            <td>@entry.Amount.ToString("0.00")</td>
                            <td>@Html.ActionLink("Edit", "Update", new { id = entry.ID })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @Html.ActionLink("New", "Create")
    </div>
</div>