@model ListEntriesViewModel

@{
    ViewBag.Title = "Entries";
}

<div class="row">
    <div class="col-md-12">
        <h1>@(Model?.Entries?.FirstOrDefault()?.FirstOrDefault()?.Account)</h1>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Category/Party</th>
                    <th>Amount</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.Entries)
                {
                    <tr>
                        <th colspan="3">@group.Key.ToString("dd/MM/yyyy")</th>
                    </tr>

                    foreach (var entry in group)
                    {
                        var party = entry.Party;

                        var category = string.IsNullOrWhiteSpace(entry.Category)
                                     ? null
                                     : string.IsNullOrWhiteSpace(entry.Party)
                                     ? entry.Category
                                     : $"({entry.Category})";

                        var partyAndCategory = string.IsNullOrWhiteSpace(party)
                                            && string.IsNullOrWhiteSpace(category)
                                             ? "--"
                                             : $"{party} {category}";

                        <tr>
                            <td>@partyAndCategory</td>
                            <td>@entry.Amount.ToString("0.00")</td>
                            <td>@Html.ActionLink("Edit", "Update", new { id = entry.ID })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>