@model ListEntriesViewModel

@section title {
    <title>Entries</title>
}

<div class="row">
    <div class="col">
        <h1>@(Model?.Entries?.FirstOrDefault()?.FirstOrDefault()?.Account)</h1>
        <table class="table table-sm table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Category/Party</th>
                    <th class="text-right">Amount</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            @foreach (var group in Model.Entries)
            {
                <thead class="thead-dark">
                    <tr>
                        <th>@group.Key.ToString("dd/MM/yyyy")</th>
                        <th class="text-right">@*@group.Sum(g => g.Amount).ToString("0.00")*@</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entry in group)
                    {
                        var party = entry.Party;

                        var category = string.IsNullOrWhiteSpace(entry.Category)
                                     ? null
                                     : string.IsNullOrWhiteSpace(party)
                                     ? entry.Category
                                     : $"({entry.Category})";

                        var partyAndCategory = string.IsNullOrWhiteSpace(party)
                                            && string.IsNullOrWhiteSpace(category)
                                             ? "--"
                                             : $"{party} {category}";

                        <tr>
                            <td>@partyAndCategory</td>
                            <td class="text-right">@entry.Amount.ToString("0.00")</td>
                            <td class="text-right"><a asp-action="Update" asp-route-id="@entry.ID">Edit</a></td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>